@font-face {
    font-family: 'lol';
    src: url(../font/letra_lol.ttf);
}

* {
    font-family: 'lol';
}

.boton {
    font-family: 'lol';
}

.formulario {
    background-color: aqua;
}

.titulo005 {
    text-align: center;
}